body
{
    background-image: url(https://goo.gl/t7BmsX);
}

.page
{
    display: grid;
    grid-template-areas: "header"
                         "main";
}

header
{
    grid-area: header;
}

main
{
    grid-area: main;
    text-align: center;
}

.navigation
{
    width: 100%;
}

.navigation ul
{
    list-style: none;
    position: relative;
    margin-right: 100px;
    display: inline-table;
}

.navigation li
{
    float: left;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navigation li:hover
{
    background: rgba(0, 0, 0, .3);
}

.navigation li
{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.navigation a
{
    display: block; 
    padding: 30px 20px;
    color: #fff; 
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.my-photo
{
    width: 50%;
}

.my-name
{
    color: #fff;
    font-family: Pacifico, cursive;
    font-size: 50px;
}

.me
{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.contacts li
{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.icon
{
    width: 50px;
}

.about
{
    width: 50%;
}

.center
{
    display: flex;
    justify-content: center;
}

h1
{
    font-family: Pacifico, cursive;
    font-size: 50px;
    color: #fff;
}

.about-me
{
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
}

.galery
{
    text-align: justify;
    padding: 6%;
}

.photo
{
    width: 23%;
    padding: 5px;
}

@media (max-width: 600px)
{
    .photo
    {
        width: 100%;
        padding: 5px;
    }
}